<a href="https://colab.research.google.com/github/nataliashalaeva/ml/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np

Загрузите данные из файла "AirQualityUCI.csv" в DataFrame pandas.

In [111]:
df = pd.read_csv("AirQualityUCI.csv", sep=';')

Выведите первые и последние 5 строк DataFrame

In [6]:
print(df.head())
print(df.tail())

         Date      Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  PT08.S2(NMHC)  \
0  10/03/2004  18.00.00    2,6       1360.0     150.0     11,9         1046.0
1  10/03/2004  19.00.00      2       1292.0     112.0      9,4          955.0
2  10/03/2004  20.00.00    2,2       1402.0      88.0      9,0          939.0
3  10/03/2004  21.00.00    2,2       1376.0      80.0      9,2          948.0
4  10/03/2004  22.00.00    1,6       1272.0      51.0      6,5          836.0

   NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)     T    RH  \
0    166.0        1056.0    113.0        1692.0       1268.0  13,6  48,9
1    103.0        1174.0     92.0        1559.0        972.0  13,3  47,7
2    131.0        1140.0    114.0        1555.0       1074.0  11,9  54,0
3    172.0        1092.0    122.0        1584.0       1203.0  11,0  60,0
4    131.0        1205.0    116.0        1490.0       1110.0  11,2  59,6

       AH  Unnamed: 15  Unnamed: 16
0  0,7578          NaN          NaN
1  0,7255          NaN          NaN
2  0,7502          NaN          NaN
3  0,7867          NaN          NaN
4  0,7888          NaN          NaN
     Date Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  PT08.S2(NMHC)  NOx(GT)  \
9466  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9467  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9468  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9469  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9470  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN

      PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)    T   RH   AH  \
9466           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9467           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9468           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9469           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9470           NaN      NaN           NaN          NaN  NaN  NaN  NaN

      Unnamed: 15  Unnamed: 16
9466          NaN          NaN
9467          NaN          NaN
9468          NaN          NaN
9469          NaN          NaN
9470          NaN          NaN

Выведите общее количество строк (измерений) и столбцов (признаков) в DataFrame

In [7]:
print(df.shape)

(9471, 17)

Выведите список названий всех столбцов в DataFrame.

In [8]:
print(df.columns.tolist())

['Date', 'Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)', 'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)', 'PT08.S5(O3)', 'T', 'RH', 'AH', 'Unnamed: 15', 'Unnamed: 16']

Проверьте, есть ли в DataFrame пропущенные значения. Выведите количество
пропущенных значений для каждого столбца

In [10]:
print(df.isna().sum())

Date              114
Time              114
CO(GT)            114
PT08.S1(CO)       114
NMHC(GT)          114
C6H6(GT)          114
PT08.S2(NMHC)     114
NOx(GT)           114
PT08.S3(NOx)      114
NO2(GT)           114
PT08.S4(NO2)      114
PT08.S5(O3)       114
T                 114
RH                114
AH                114
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64

Выведите основные статистические характеристики (среднее, медиана, стандартное
отклонение, минимум, максимум, квартили) для числовых столбцов DataFrame.

In [13]:
print(df.describe())

       PT08.S1(CO)     NMHC(GT)  PT08.S2(NMHC)      NOx(GT)  PT08.S3(NOx)  \
count  9357.000000  9357.000000    9357.000000  9357.000000   9357.000000
mean   1048.990061  -159.090093     894.595276   168.616971    794.990168
std     329.832710   139.789093     342.333252   257.433866    321.993552
min    -200.000000  -200.000000    -200.000000  -200.000000   -200.000000
25%     921.000000  -200.000000     711.000000    50.000000    637.000000
50%    1053.000000  -200.000000     895.000000   141.000000    794.000000
75%    1221.000000  -200.000000    1105.000000   284.000000    960.000000
max    2040.000000  1189.000000    2214.000000  1479.000000   2683.000000

           NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)  Unnamed: 15  Unnamed: 16
count  9357.000000   9357.000000  9357.000000          0.0          0.0
mean     58.148873   1391.479641   975.072032          NaN          NaN
std     126.940455    467.210125   456.938184          NaN          NaN
min    -200.000000   -200.000000  -200.000000          NaN          NaN
25%      53.000000   1185.000000   700.000000          NaN          NaN
50%      96.000000   1446.000000   942.000000          NaN          NaN
75%     133.000000   1662.000000  1255.000000          NaN          NaN
max     340.000000   2775.000000  2523.000000          NaN          NaN

Выведите сводную информацию о DataFrame, включая типы данных столбцов,
количество непустых значений и объем занимаемой памяти.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   object
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   object
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   object
 13  RH             9357 non-null   object
 14  AH             9357 non-null   object
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(10), object(7)
memory usage: 1.2+ MB

Какие уникальные значения принимает признак "T" (температура)? Выведите все уникальные значения, их количество и частоту встречаемости

In [108]:
print(df['T'].unique())
print(df['T'].value_counts())

['13,6' '13,3' '11,9' '11,0' '11,2' '11,3' '10,7' '10,3' '10,1' '10,5'
 '10,2' '10,8' '9,5' '8,3' '8,0' '9,7' '9,8' '9,6' '9,1' '8,2' '7,7' '7,1'
 '7,0' '6,1' '6,3' '6,8' '6,4' '7,3' '9,2' '13,2' '14,3' '15,0' '16,1'
 '16,3' '15,8' '15,9' '16,9' '15,1' '14,4' '12,9' '12,1' '8,8' '7,8' '7,2'
 '6,5' '12,4' '15,6' '18,4' '19,4' '18,0' '17,6' '16,7' '15,7' '15,3'
 '14,6' '14,7' '13,9' '12,5' '11,6' '11,5' '10,4' '14,5' '19,3' '21,2'
 '21,4' '21,9' '22,2' '21,3' '19,7' '14,8' '14,0' '13,4' '12,6' '12,3'
 '11,4' '17,4' '19,8' '22,0' '23,3' '23,9' '24,4' '23,8' '22,5' '20,4'
 '18,3' '14,1' '12,8' '11,7' '17,8' '25,3' '25,8' '27,0' '28,2' '28,0'
 '19,0' '17,9' '15,5' '13,1' '12,7' '11,8' '9,9' '11,1' '17,7' '21,1'
 '24,3' '25,6' '25,9' '26,8' '29,3' '28,5' '23,1' '20,5' '19,1' '17,2'
 '16,0' '12,0' '10,9' '10,6' '20,8' '24,2' '25,2' '27,1' '23,0' '20,7'
 '18,6' '13,0' '16,4' '15,4' '15,2' '14,2' '13,8' '13,5' '17,1' '19,5'
 '18,5' '16,2' '14,9' '18,9' '20,3' '17,0' '16,5' '21,0' '20,2' '10,0'
 '13,7' '16,6' '9,3' '7,6' '8,1' '8,7' '8,6' '12,2' '9,4' '8,5' '16,8'
 '19,2' '7,9' '7,4' '18,7' '18,2' '17,5' '22,4' '20,9' '18,1' '17,3' '9,0'
 '20,6' '21,8' '-200' '23,6' '22,8' '22,9' '24,7' '26,1' '27,6' '26,9'
 '24,8' '25,0' '25,1' '23,7' '22,1' '19,9' '21,5' '21,6' '18,8' '19,6'
 '22,7' '22,3' '22,6' '26,3' '27,3' '28,1' '28,3' '30,8' '31,3' '29,4'
 '29,7' '29,2' '29,6' '30,0' '29,5' '24,9' '20,0' '27,2' '27,5' '23,4'
 '25,4' '25,7' '24,5' '26,7' '27,4' '27,7' '28,4' '21,7' '24,6' '26,0'
 '25,5' '30,3' '30,9' '30,2' '26,4' '23,5' '26,5' '30,6' '29,9' '31,5'
 '31,2' '30,4' '32,2' '31,7' '30,1' '31,0' '31,6' '28,8' '28,6' '31,1'
 '32,4' '32,6' '24,1' '20,1' '32,8' '32,5' '27,9' '28,9' '32,3' '32,1'
 '31,8' '23,2' '28,7' '29,1' '29,8' '32,0' '30,5' '30,7' '24,0' '31,4'
 '26,2' '29,0' '26,6' '27,8' '34,4' '33,7' '35,9' '34,3' '33,5' '37,5'
 '37,7' '37,8' '36,6' '34,7' '37,2' '39,5' '40,6' '40,3' '39,6' '37,3'
 '35,4' '37,9' '39,7' '40,4' '40,0' '38,9' '35,8' '33,1' '37,4' '36,4'
 '34,2' '31,9' '35,1' '36,0' '37,0' '35,2' '33,9' '35,3' '34,0' '32,7'
 '33,6' '33,0' '33,2' '33,3' '34,9' '36,1' '37,6' '35,6' '34,8' '33,4'
 '32,9' '35,5' '36,2' '34,5' '36,3' '38,3' '38,4' '39,0' '41,3' '41,8'
 '42,2' '41,4' '40,1' '39,9' '39,1' '38,0' '37,1' '36,9' '39,3' '38,5'
 '38,8' '38,1' '34,6' '34,1' '38,2' '40,2' '42,6' '42,5' '41,0' '39,2'
 '41,1' '41,9' '40,9' '33,8' '35,7' '36,5' '39,4' '36,8' '40,5' '39,8'
 '41,7' '42,8' '42,0' '42,7' '41,6' '44,3' '44,6' '43,4' '43,1' '38,7'
 '38,6' '35,0' '36,7' '40,7' '5,6' '5,1' '4,4' '4,1' '3,2' '3,7' '4,9'
 '6,9' '6,7' '7,5' '8,9' '8,4' '6,2' '5,7' '5,9' '6,6' '5,2' '5,3' '4,2'
 '3,1' '3,5' '1,8' '1,3' '3,9' '3,3' '2,6' '4,5' '5,4' '6,0' '4,3' '4,0'
 '4,8' '2,2' '2,5' '5,0' '5,8' '4,7' '5,5' '3,0' '2,3' '1,5' '2,8' '1,2'
 '1,4' '2,4' '2,1' '3,4' '3,6' '4,6' '2,7' '1,9' '1,6' '1,0' '1,7' '2,9'
 '3,8' '2,0' '0,8' '0,6' '0,3' '0,9' '1,1' '0,7' '0,2' '0,1' '-0,1' '-0,3'
 '-0,6' '-0,2' '0,0' '-1,1' '-1,4' '-1,3' '-1,2' '-1,9' '-0,5' '0,5' nan]
T
-200    366
20,8     57
21,3     54
13,8     51
20,2     51
       ...
43,4      1
43,1      1
36,7      1
40,7      1
0,5       1
Name: count, Length: 437, dtype: int64

Выведите строки DataFrame, где уровень концентрации оксида углерода (CO(GT))
превышает 3 мг/м³, а температура (T) ниже 20°C.

In [109]:
df['CO(GT)'] = pd.to_numeric(df['CO(GT)'], errors='coerce')
df['T'] = pd.to_numeric(df['T'], errors='coerce')
df = df.dropna(subset=['CO(GT)', 'T'])

print(df[(df['CO(GT)'] > 3) & (df['T'] < 20)])

            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  \
6715  15/12/2004  13.00.00     4.0       -200.0    -200.0   -200,0
6717  15/12/2004  15.00.00     4.0       -200.0    -200.0   -200,0
6760  17/12/2004  10.00.00     5.0       -200.0    -200.0   -200,0

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
6715         -200.0    820.0        -200.0    169.0        -200.0
6717         -200.0    842.0        -200.0    183.0        -200.0
6760         -200.0    937.0        -200.0    164.0        -200.0

      PT08.S5(O3)      T    RH    AH  Unnamed: 15  Unnamed: 16
6715       -200.0 -200.0  -200  -200          NaN          NaN
6717       -200.0 -200.0  -200  -200          NaN          NaN
6760       -200.0 -200.0  -200  -200          NaN          NaN

Создайте новый признак "NOx_CO_ratio", который будет представлять собой
отношение уровня концентрации оксидов азота (NOx(GT)) к уровню концентрации оксида
углерода (CO(GT)).

In [38]:
df['NOx(GT)'] = pd.to_numeric(df['NOx(GT)'], errors='coerce')
df['CO(GT)'] = pd.to_numeric(df['CO(GT)'], errors='coerce')

df['NOx_CO_ratio'] = df['NOx(GT)'] / df['CO(GT)']
df['NOx_CO_ratio']

0        NaN
1       51.5
2        NaN
3        NaN
4        NaN
        ...
9466     NaN
9467     NaN
9468     NaN
9469     NaN
9470     NaN
Name: NOx_CO_ratio, Length: 9471, dtype: float64

новый размер DataFrame после добавления нового столбца.

In [39]:
print(df.shape)

(9471, 18)

Какое значение температуры (T) встречается в датасете чаще всего?

In [112]:
df['T'] = df['T'].replace('-200', np.nan)
temperature_mode = df['T'].mode()
print(df['T'].mode()[0])

20,8

Найдите количество строк, в которых отсутствуют данные о концентрации бензола
(C6H6(GT)). Выведите информацию об этих строках. (пропущенные значения могут быть
представлены как -200)

In [81]:
print(df[df['C6H6(GT)'].isnull()])

     Date Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  PT08.S2(NMHC)  NOx(GT)  \
9357  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9358  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9359  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9360  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9361  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
...   ...  ...    ...          ...       ...      ...            ...      ...
9466  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9467  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9468  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9469  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9470  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN

      PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)    T   RH   AH  \
9357           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9358           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9359           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9360           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9361           NaN      NaN           NaN          NaN  NaN  NaN  NaN
...            ...      ...           ...          ...  ...  ...  ...
9466           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9467           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9468           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9469           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9470           NaN      NaN           NaN          NaN  NaN  NaN  NaN

      Unnamed: 15  Unnamed: 16
9357          NaN          NaN
9358          NaN          NaN
9359          NaN          NaN
9360          NaN          NaN
9361          NaN          NaN
...           ...          ...
9466          NaN          NaN
9467          NaN          NaN
9468          NaN          NaN
9469          NaN          NaN
9470          NaN          NaN

[114 rows x 17 columns]

Найдите минимальный уровень концентрации оксида углерода (CO(GT)) при
температуре выше 25°C. Выведите информацию об этих измерениях.

In [ ]:
df['T'] = df['T'].str.replace(',', '.')
df['T'] = pd.to_numeric(df['T'], errors='coerce')

In [128]:
df['CO(GT)'] = df['CO(GT)'].str.replace(',', '.')
df['CO(GT)'] = pd.to_numeric(df['CO(GT)'], errors='coerce')

In [131]:
df['NMHC(GT)'] = pd.to_numeric(df['NMHC(GT)'], errors='coerce')
df['NMHC(GT)'] = df['NMHC(GT)'].replace(-200, np.nan)

In [132]:
df['CO(GT)'] = df['CO(GT)'].replace(-200, np.nan)

print(df[df['T'] > 25].loc[df[df['T'] > 25]['CO(GT)'].idxmin()])

Date             30/05/2004
Time               13.00.00
CO(GT)                  0.1
PT08.S1(CO)           771.0
NMHC(GT)                NaN
C6H6(GT)                2,6
PT08.S2(NMHC)         626.0
NOx(GT)                34.0
PT08.S3(NOx)         1502.0
NO2(GT)                41.0
PT08.S4(NO2)         1210.0
PT08.S5(O3)           430.0
T                      29.1
RH                     19,6
AH                   0,7771
Unnamed: 15             NaN
Unnamed: 16             NaN
Name: 1939, dtype: object

In [133]:
print(df['CO(GT)'].unique())

[ 2.6  2.   2.2  1.6  1.2  1.   0.9  0.6  nan  0.7  1.1  1.7  1.5  1.9
  2.9  4.8  6.9  6.1  3.9  1.4  0.8  4.4  3.1  2.7  2.1  2.5  2.8  2.4
  3.7  6.6  3.5  5.4  3.2  4.1  3.6  2.3  4.2  1.8  3.   4.6  5.9  3.4
  5.5  8.1  5.8  8.   6.5  1.3  5.3  3.3  4.   3.8  5.1  0.5  4.3  5.
  7.6  6.7  5.7  4.7  4.5  6.2  0.4  0.3  5.2  4.9  6.3  7.3  6.4  6.
  5.6  7.2  0.2  0.1  7.5  7.   7.7  6.8  8.4  7.9  9.5  9.2  8.7  7.8
 10.2  8.3  8.6 11.9 11.5 10.1  9.4  9.9  7.4  9.3  9.1  8.5  7.1]

Найдите количество измерений, в которых относительная влажность (RH) превышает 90%. Выведите информацию об этих измерениях.

In [134]:
high_rh_df = df[pd.to_numeric(df['RH'], errors='coerce') > 90]
print(high_rh_df.shape[0])

0

Найдите разницу между средним уровнем концентрации оксида углерода (CO(GT))
при температуре выше и ниже 20°C. Округлите результат до двух знаков после запятой.

In [147]:
mean_co_above_20 = df[df['T'] > 20]['CO(GT)'].mean()
mean_co_below_20 = df[df['T'] <= 20]['CO(GT)'].mean()
difference = round(mean_co_above_20 - mean_co_below_20, 2)
print(difference)
mean_co_above_20, mean_co_below_20

-0.01

(2.1209261223047013, 2.1352159468438536)

Создайте признак "High_Ozone", который будет равен 1, если уровень концентрации
озона (PT08.S5(O3)) превышает среднее значение, и 0 в противном случае

In [155]:
df['High_Ozone'] = (df['PT08.S5(O3)'] > df['PT08.S5(O3)'].mean()).astype(int)
df[['High_Ozone','PT08.S5(O3)']].head()

   High_Ozone  PT08.S5(O3)
0           1       1268.0
1           0        972.0
2           1       1074.0
3           1       1203.0
4           1       1110.0

Выведите наиболее распространенный уровень концентрации оксидов азота
(NOx(GT))

In [145]:
df['NOx(GT)'] = df['NOx(GT)'].replace(-200, np.nan)
print(df['NOx(GT)'].mode()[0])

89.0

In [151]:
print(df['C6H6(GT)'].unique())

['11,9' '9,4' '9,0' '9,2' '6,5' '4,7' '3,6' '3,3' '2,3' '1,7' '1,3' '1,1'
 '1,6' '3,2' '8,0' '9,5' '6,3' '5,0' '5,2' '7,3' '11,5' '8,8' '8,3' '11,2'
 '20,8' '27,4' '24,0' '12,8' '2,6' '5,9' '6,4' '4,1' '1,9' '1,0' '1,8'
 '4,4' '17,9' '22,1' '14,0' '11,6' '10,2' '11,0' '14,2' '12,7' '11,7'
 '19,3' '18,2' '32,6' '20,1' '14,3' '21,8' '9,6' '7,4' '5,4' '6,2' '2,9'
 '5,1' '11,8' '15,1' '12,9' '16,1' '12,3' '8,6' '10,6' '15,5' '19,6'
 '19,2' '18,3' '13,1' '10,9' '9,7' '3,7' '2,5' '2,4' '4,2' '10,7' '7,5'
 '8,2' '12,0' '12,2' '20,6' '23,1' '14,7' '6,9' '7,0' '4,0' '3,9' '25,9'
 '36,7' '26,6' '14,1' '14,9' '15,4' '12,1' '14,8' '32,1' '39,2' '31,0'
 '19,9' '15,3' '11,1' '2,8' '2,0' '3,5' '16,2' '19,7' '25,1' '20,0' '22,3'
 '20,4' '14,6' '16,6' '15,8' '17,8' '19,1' '24,9' '13,5' '9,1' '21,4'
 '36,4' '21,3' '12,5' '13,7' '10,4' '15,2' '27,0' '38,4' '35,1' '27,2'
 '15,0' '15,7' '13,0' '8,1' '5,5' '3,0' '7,7' '23,3' '35,8' '14,4' '16,8'
 '14,5' '21,5' '26,4' '26,0' '10,3' '8,9' '6,6' '6,7' '22,8' '31,3' '16,4'
 '16,7' '19,0' '19,4' '20,9' '20,2' '21,7' '19,8' '5,8' '3,4' '3,1' '4,3'
 '10,5' '9,3' '7,6' '12,4' '9,9' '2,1' '7,1' '6,8' '4,6' '8,4' '12,6'
 '7,9' '6,1' '0,7' '0,8' '17,7' '18,4' '21,0' '3,8' '2,7' '1,2' '0,6'
 '13,4' '16,9' '10,1' '8,7' '13,8' '5,3' '4,9' '4,8' '23,7' '10,8' '11,4'
 '4,5' '1,4' '0,9' '24,6' '21,6' '5,7' '2,2' '6,0' '8,5' '10,0' '5,6'
 '23,8' '18,9' '17,1' '1,5' '15,6' '11,3' '31,9' '-200,0' '21,2' '25,0'
 '20,3' '20,7' '15,9' '13,6' '24,1' '25,4' '26,7' '7,8' '13,2' '25,8'
 '9,8' '16,3' '18,0' '33,7' '22,0' '27,1' '13,9' '29,1' '0,5' '7,2' '27,7'
 '13,3' '18,1' '17,3' '17,5' '17,0' '19,5' '24,4' '28,1' '24,2' '23,2'
 '18,7' '23,0' '26,8' '16,5' '29,9' '25,3' '23,9' '40,3' '32,5' '33,6'
 '26,1' '28,3' '35,0' '22,4' '22,6' '31,1' '30,6' '23,4' '30,4' '24,7'
 '21,9' '28,9' '29,8' '36,2' '24,8' '28,6' '17,4' '26,9' '21,1' '26,5'
 '23,6' '31,5' '35,2' '27,5' '34,3' '37,4' '22,7' '29,3' '38,9' '25,5'
 '32,9' '16,0' '26,2' '28,2' '20,5' '22,2' '18,5' '40,2' '34,4' '24,5'
 '27,9' '36,1' '36,9' '17,6' '18,6' '27,6' '25,6' '30,2' '17,2' '28,8'
 '32,4' '23,5' '33,5' '27,8' '22,9' '29,0' '22,5' '27,3' '30,0' '25,2'
 '37,3' '35,6' '26,3' '30,7' '25,7' '34,5' '30,3' '32,3' '35,9' '31,8'
 '18,8' '32,2' '34,9' '31,4' '41,2' '28,7' '34,0' '29,4' '39,3' '28,0'
 '34,1' '36,3' '30,1' '41,6' '44,7' '30,8' '40,5' '32,0' '44,0' '37,1'
 '35,7' '31,2' '29,5' '36,5' '38,8' '37,9' '30,9' '43,7' '40,0' '24,3'
 '34,8' '46,3' '44,5' '41,0' '32,8' '45,9' '52,1' '36,6' '28,5' '35,3'
 '38,0' '44,1' '44,9' '48,2' '47,5' '33,0' '45,0' '42,8' '0,3' '0,4' '0,2'
 '47,7' '50,7' '63,7' '38,3' '37,6' '33,9' '33,2' '35,4' '49,5' '50,6'
 '49,4' '31,7' '33,3' '36,0' '45,2' '37,7' '31,6' '30,5' '28,4' '29,2'
 '43,9' '33,4' '50,8' '33,1' '43,0' '37,2' '38,1' '0,1' '29,7' '35,5' nan]

Найдите количество измерений, в которых и уровень концентрации бензола
(C6H6(GT)), и уровень концентрации оксидов азота (NOx(GT)) превышают свои средние
значения.

In [152]:
df['C6H6(GT)'] = df['C6H6(GT)'].str.replace(',', '.')
df['C6H6(GT)'] = pd.to_numeric(df['C6H6(GT)'], errors='coerce')

In [153]:
df['C6H6(GT)'] = df['C6H6(GT)'].replace(-200, np.nan)

In [154]:
count = ((df['C6H6(GT)'] > df['C6H6(GT)'].mean()) & (df['NOx(GT)'] > df['NOx(GT)'].mean())).sum()
print(count)

1924

Найдите максимальную температуру (T) среди измерений, где уровень концентрации
диоксида азота (NO2(GT)) ниже 50 мкг/м³.

In [156]:
max_temperature = df[df['NO2(GT)'] < 50]['T'].max()
print(max_temperature)

40.7

Найдите количество измерений, в которых уровень концентрации оксида углерода
(CO(GT)) выше среднего значения по датасету. Выведите информацию об этих
измерениях.

In [157]:
mean_co = df['CO(GT)'].mean()
high_co_df = df[df['CO(GT)'] > mean_co]
print(f"Количество измерений, где CO(GT) выше среднего: {high_co_df.shape[0]}")
print(high_co_df)

Количество измерений, где CO(GT) выше среднего: 3110
            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10/03/2004  18.00.00     2.6       1360.0     150.0      11.9
2     10/03/2004  20.00.00     2.2       1402.0      88.0       9.0
3     10/03/2004  21.00.00     2.2       1376.0      80.0       9.2
15    11/03/2004  09.00.00     2.2       1351.0      87.0       9.5
20    11/03/2004  14.00.00     2.9       1371.0     164.0      11.5
...          ...       ...     ...          ...       ...       ...
9351  04/04/2005  09.00.00     3.9       1297.0       NaN      13.6
9352  04/04/2005  10.00.00     3.1       1314.0       NaN      13.5
9353  04/04/2005  11.00.00     2.4       1163.0       NaN      11.4
9354  04/04/2005  12.00.00     2.4       1142.0       NaN      12.4
9356  04/04/2005  14.00.00     2.2       1071.0       NaN      11.9

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
15            960.0    129.0        1079.0    101.0        1583.0
20           1034.0    207.0         983.0    128.0        1730.0
...             ...      ...           ...      ...           ...
9351         1102.0    523.0         507.0    187.0        1375.0
9352         1101.0    472.0         539.0    190.0        1374.0
9353         1027.0    353.0         604.0    179.0        1264.0
9354         1063.0    293.0         603.0    175.0        1241.0
9356         1047.0    265.0         654.0    168.0        1129.0

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16  High_Ozone
0          1268.0  13.6  48,9  0,7578          NaN          NaN           1
2          1074.0  11.9  54,0  0,7502          NaN          NaN           1
3          1203.0  11.0  60,0  0,7867          NaN          NaN           1
15         1028.0  10.5  60,6  0,7691          NaN          NaN           1
20         1037.0   8.0  81,1  0,8736          NaN          NaN           1
...           ...   ...   ...     ...          ...          ...         ...
9351       1583.0  18.2  36,3  0,7487          NaN          NaN           1
9352       1729.0  21.9  29,3  0,7568          NaN          NaN           1
9353       1269.0  24.3  23,7  0,7119          NaN          NaN           1
9354       1092.0  26.9  18,3  0,6406          NaN          NaN           1
9356        816.0  28.5  13,1  0,5028          NaN          NaN           0

[3110 rows x 18 columns]

Разделите данные на две группы: измерения, сделанные при температуре выше
среднего значения, и измерения, сделанные при температуре ниже среднего значения.
Сравните средний уровень концентрации бензола (C6H6(GT)) в этих двух группах.

In [159]:
mean_temperature = df['T'].mean()
above_avg_temp = df[df['T'] > mean_temperature]
below_avg_temp = df[df['T'] <= mean_temperature]
mean_benzene_above = above_avg_temp['C6H6(GT)'].mean()
mean_benzene_below = below_avg_temp['C6H6(GT)'].mean()

print(f"Средний уровень концентрации бензола при температуре выше среднего: {mean_benzene_above}")
print(f"Средний уровень концентрации бензола при температуре ниже среднего: {mean_benzene_below}")

Средний уровень концентрации бензола при температуре выше среднего: 11.501026598226785
Средний уровень концентрации бензола при температуре ниже среднего: 8.791455897980871